.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

form {
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 30000;

  background-color: #00f;
  padding: 20px 30px;
  border-radius: 10px;
}

form h3 {
  margin: 0;
  color: white;
}